<div class="item">
    <div>Avatar URL</div>
    <input 
        type="url"
        name="avatar"
        placeholder="http://"
        value="{{member.avatar}}"
    />
</div>
<div class="item">
    <div>Name</div>
    <input 
        type="text"
        name="name" 
        value="{{member.name}}"
    />
</div>
<div class="item">
    <div>E-mail</div>
    <input 
        type="email"
        name="email" 
        value="{{member.email}}"
    />
</div>
<div class="item">
    <div>Date of Birth</div>
    <input 
        type="date"
        name="birth" 
        value="{{member.birth}}"
    />
</div>
<div class="item">
    <div>Gender</div>
    <span>
        <input 
            type="radio"
            name="gender"
            value="M"
            {% if member.gender == "M" %}}
                checked
            {% endif %}}
        />
        Male
    </span>
    <span>
        <input 
            type="radio"
            name="gender"
            value="F"
            {% if member.gender == "F" %}}
                checked
            {% endif %}}
        />
        Female
    </span>
</div>
<div class="item">
    <div>Blood Type</div>
    <select name="blood">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select>
</div>
<div class="item">
    <div>Weight</div>
    <input 
        type="number"
        name="weight" 
        value="{{member.weight}}"
    />
</div>
<div class="item">
    <div>Height</div>
    <input 
        type="number"
        name="height" 
        value="{{member.height}}"
    />
</div>
<button type="submit">Save</button>