{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles.css">
{% endblock %}

{% block content %}
    <div class="card table-container">
        <a href="/members/create">New</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>E-mail</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <span style="background-image: url({{member.avatar}})"></span>
                            {{member.name}}
                        </td>
                        <td>{{member.email}}</td>
                        <td>{{member.weight}}kg</td>
                        <td>{{member.height}}cm</td>
                        <td>
                            <a href="/members/{{member.id}}">
                                Show
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}