<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/main.css">
        {% block head %}
        {% endblock %}
    
        <title>GYM Manager</title>
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>
        
        {% block content %}

        {% endblock %}
        
    </body>
</html>
<script src="/main.js"></script>
{% block footer %}
{% endblock %}