{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/instructors.css">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">
            <h3>Details</h3>
            <div class="item">
                <div>Istructor</div>
                <div>Name</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>30</div>
            </div>
            <div class="item">
                <div>Gender</div>
                <div>Male</div>
            </div>
            <div class="item">
                <div>Attendance</div>
                <div>
                    <span>Item</span>
                    <span>Item</span>
                </div>
            </div>
            <div class="item">
                <div>Since</div>
                <div>1993</div>
            </div>
        </section>
    </div>
{% endblock %}